@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Roobert, sans";
  src: url(../assets/fonts/Roobert-Regular.ttf);
}

h1,
h2,
h3 {
  color: #eaeaea;
  font-weight: bold;
}

@layer base {
  p {
    @apply text-base leading-7;
  }
  h1 {
    @apply !leading-snug text-5xl capitalize;
  }
  h2 {
    @apply text-3xl mb-3;
  }
  h3 {
    @apply text-lg capitalize tracking-wide;
  }
  h4 {
    @apply text-lg;
  }
  ::selection {
    @apply bg-white_02 text-black_02;
  }
}

hr {
  height: 6px;
  background-image: url(../assets/divider.svg);
  background-repeat: repeat-x;
  background-position: left center;
  border: none;
  opacity: 0.3;
  padding-block: 5rem;
}
