@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "MonoLisa";
  src: url(../assets/fonts/Monolisa\ Font.ttf);
} */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

h1,
h2,
h3 {
  color: #eaeaea;
  font-weight: bold;
}

p {
  line-height: 2;
}

hr {
  height: 6px;
  background-image: url(../assets/divider.svg);
  background-repeat: repeat-x;
  background-position: left center;
  border: none;
  opacity: 0.3;
  padding-block: 5rem;
}
